body {
	background: repeating-linear-gradient(rgb(0, 0, 25), black);
	color: white;
	font-family: Arial;
	user-select: none;
}

.folders {
	position: absolute;
	left: 50%;
	top: 51%;
	height: 100px;
	transform: translateX(-50%) translateY(-50%);
	color: white;
	letter-spacing: 20px;
	overflow: hidden;
	white-space: nowrap;
	filter: drop-shadow(0px 0px 20px white);
}

:is(.text-one, .text-two, .text-three) {
	color: white;
	letter-spacing: 20px;
	position: absolute;
	font-size: 15px;
	left: 50%;
	top: 70%;
	transform: translateX(-50%) translateY(-50%);
	animation-name: flickering;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	display: none;
}

i {
	font-size: 2.5em;
	transition: font-size 0.2s;
}

:is(.folder-one, .folder-two, .folder-three):hover {
	font-size: 2.7em;
}

:is(.folder-one, .folder-two, .folder-three):hover + :is(.text-one, .text-two, .text-three) {
	display: inline-block;
}

@keyframes flickering {
	1% 		{filter: opacity(100%);}
	49% 	{filter: opacity(100%);}
	50% 	{filter: opacity(50%);}
	51% 	{filter: opacity(100%);}
	74% 	{filter: opacity(100%);}
	75% 	{filter: opacity(50%);}
	76% 	{filter: opacity(100%);}
	100% 	{filter: opacity(100%);}
}

a 			{color: white; text-decoration: none;}
a:link 		{color: white; text-decoration: none;}
a:hover 	{color: white; text-decoration: none;}
a:focus		{color: white; text-decoration: none;}
a:visited	{color: white; text-decoration: none;}
a:active	{color: white; text-decoration: none;}

